{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
</head>
<body>

    {% include 'users/nav.html' %}  {# Include Navigation #}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'users/footer.html' %}  {# Include Footer #}

</body>
</html>
